
@media (max-width:1428px) {
  .animated-text h1 {
    font-size: 1.7rem;
    font-weight: 600;
}
}

@media (max-width:1385px) {
  .animated-text h1 {
    font-size: 1.7rem;
    font-weight: 600;
}
}

@media (max-width:1280px) {
  main>.hero>#container {
    padding-left: 130px;
  }
}

@media (max-width:1200px) {

  .hero-main-container-2 {
    display: flex;
    margin-left: 30px;
    overflow: hidden;
  }

  .hero-main-container {
    margin-left: 20px;
    margin-right: 0;
  }
}

@media (max-width:1185px) {
  .animated-text h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
}

@media (max-width:1050px) {
  .animated-text h1 {
    font-size: 1.3rem;
    font-weight: 600;
}
}

@media (max-width:992px) {
    #container p {
        font-size: 20px;
    }

    main>.hero>#container {
      padding-left: 100px;
    }

    .contact-form .contact-details {
      padding: 20px ;
      display: flex;
    }
    
    .animated-text h1 {
      font-size: 1.3rem;
      font-weight: 600;
  }

    .contact-form .contact-details .num {
      border: none;
    }

    .contact-form .contact-details p {
      width: 100%;
    }   
    
    .experience-1 h3, .experience-2 h3 {
      font-size: 1.8em;
      color: aqua;
      padding-bottom: 20px;
  }

  .animation > div > div {
    height:2.81rem;
    margin-bottom: 2.41rem;
    display:inline-block;
    font-size: 16px;
  }

  #container p {
    font-size: 12px;
    justify-content: center;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -7.62rem;}
  30% {margin-top: -7.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -6.62rem;}
  80% {margin-top: -6.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.hero-image img{
  width: 180px;
  height: 200px;
  margin-left: 0px;
  background: linear-gradient(#FFF, #fff) padding-box, linear-gradient(45deg, #0fd850) border-box;
  margin-top: 0px;
  border-radius: 50%;

}

.hero-main-container {
  width: 180px;
  height: 200px;
  margin-left: 100px;
}
}

@media (max-width:900px) {
  .animated-text h1 {
    font-size: 1.1rem;
    font-weight: 600;
}

.animated-text {
  width: 49%;
  margin: 0;
}

.animated-text h6 {
  font-size: 0.8rem;
}
}

@media (max-width:820px) {
  .animated-text h1 {
    font-size: 1rem;
    font-weight: 600;
}



.animated-text {
  width: 47%;
  margin: 0;
  margin: 0;
}

#container {
  padding-left: 0px;
}

.animated-text h6 {
  font-size: 0.7rem;
}

main>.hero>#container {
  text-transform: uppercase;
  height: 30vh;
  display: flex;
  align-items: left;
  margin-top:100px ;
  margin-bottom: 100px;
  width: 100%;
  padding-left: 30px;
  margin-right: 0;
}
}

@media (max-width:752px) {
    main>#container {
        color: #e5e5e5;
        font-size: 1.6rem;
        text-transform: uppercase;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:10px ;
      }

      .experience-1 h3, .experience-2 h3 {
        font-size: 1.5em;
        color: aqua;
        padding-bottom: 20px;
    }

      .animation > div > div {
        padding: 0.15rem 0.45rem;
        height:1.81rem;
        margin-bottom: 1.81rem;
        display:inline-block;
      }

      @keyframes text-animation {
        0% {margin-top: 0;}
        10% {margin-top: 0;}
        20% {margin-top: -5.62rem;}
        30% {margin-top: -5.62rem;}
        40% {margin-top: -9.24rem;}
        60% {margin-top: -9.24rem;}
        70% {margin-top: -4.62rem;}
        80% {margin-top: -4.62rem;}
        90% {margin-top: 0;}
        100% {margin-top: 0;}
      }

      #container p {
        font-size: 16px;
    }

    .about-container h1 {
      font-size: 3em;
    }

    .bottom-about {
      padding: 10px;
  }

  .left-bottom-about, .right-bottom-about  {
    margin: 30px 5px 30px 5px;
    width: 100%;
    padding: 0px;
}

.contact-container {
  display: block;
  text-align: center;
}

.contact-img-div img {
  display: none;
}

.contact {
  padding-bottom: 70px;
}
}

@media (max-width:700px) {
  main>.hero>#container {
    padding-left: 40px;
  }

  .animated-text h1 {
    font-size: 0.8rem;
    font-weight: 600;
}

}

@media (max-width:600px) {
    .left-top-about {
      margin-right: 10px;
  }

  .hero-image img{
    width: 150px;
    height: 170px;
    margin-left: 0px;
    background: linear-gradient(#FFF, #fff) padding-box, linear-gradient(45deg, #0fd850) border-box;
    margin-top: 0px;
    border-radius: 50%;

  }

  .hero-main-container {
    width: 150px;
    height: 170px;
    margin-left: 20px;
  }

  .about-container h1 {
    font-size: 2.7em;
  }

  .bottom-about {
    display: block;
    padding: 40px;
  }

  .experience-details {
    display: block;
  }

  .experience-1 {
    margin-bottom: 40px;
  }
}

@media (max-width:500px) {
  main>.hero>#container {
    padding-left: 30px;
  }

  .animated-text h1 {
    font-size: 0.8rem;
    font-weight: 600;
}

.hero-image img{
  width: 120px;
  height: 140px;
  margin-left: 0px;
  background: linear-gradient(#FFF, #fff) padding-box, linear-gradient(45deg, #0fd850) border-box;
  margin-top: 0px;
  border-radius: 50%;

}

.hero-main-container {
  width: 120px;
  height: 140px;
  margin-left: 10px;
}

}

@media (max-width:449px) {
  main>#container {
        color: #e5e5e5;
        font-size: 1rem;
        text-transform: uppercase;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:10px ;
      }

      .experience-1 h3, .experience-2 h3 {
        font-size: 1.1em;
        color: aqua;
        padding-bottom: 20px;
    }

      .animation > div > div {
        padding: 0.15rem 0.45rem;
        height:1.81rem;
        margin-bottom: 1.81rem;
        display:inline-block;
      }

      @keyframes text-animation {
        0% {margin-top: 0;}
        10% {margin-top: 0;}
        20% {margin-top: -5.62rem;}
        30% {margin-top: -5.62rem;}
        40% {margin-top: -9.24rem;}
        60% {margin-top: -9.24rem;}
        70% {margin-top: -4.62rem;}
        80% {margin-top: -4.62rem;}
        90% {margin-top: 0;}
        100% {margin-top: 0;}
      }

      .top-about {
        display: block;
      }

      .left-bottom-about, .right-bottom-about  {
        margin: 30px 10px 30px 10px;
        width: 100%;
        padding: 10px;
    }

    .left-bottom-about h4, .right-bottom-about h4 {
      font-size: 12px;
  }

  #button h4 {
    font-size: 16px;
}

.contact {
  padding: 0;
}

.contact h1 {
  padding: 20px 0 40px;
}

.contact-container {
  padding: 5px;
}

.left-contact, .right-contact form {
  padding: 0;
}

.contact-btn {
  margin-bottom: 50px;
}

.contact h1 {
  font-size: 2.6em;
}

.projects .p-h1 {
  font-size: 2em;
}

main>.hero>#container {
  padding-left: 10px;
}

.animated-text h1 {
  font-size: 0.7rem;
  font-weight: 600;
}

.hero-image img{
width: 90px;
height: 110px;
margin-left: 0px;
background: linear-gradient(#FFF, #fff) padding-box, linear-gradient(45deg, #0fd850) border-box;
margin-top: 0px;
border-radius: 50%;

}

.hero-main-container {
width: 90px;
height: 110px;
margin-left: 10px;
}

 
.hero-main-container {
  width: 70px;
  height: 100px;
  margin-left: 10px;
  display: none;
}

#hero-main-container {
  width: 220px;
  height: 270px;
  margin-left: 30px;
  display: flex;
  margin-bottom: 40px;
} 

#container {
  display: flex;
  flex-direction: column;
}

.animated-text h1 {
  font-size: 0.9rem;
  font-weight: 600;
}

.hero-image img{
width: 180px;
height: 210px;
margin-left: 0px;
background: linear-gradient(#FFF, #fff) padding-box, linear-gradient(45deg, #0fd850) border-box;
margin-top: 0px;
border: 5px solid aqua;
border-radius: 50%;

}

}

@media (max-width:396px) {
    #container p {
        font-size: 10px;
    }

    main>#container {
        color: #e5e5e5;
        font-size: 0.8rem;
        text-transform: uppercase;
        height: 15vh;
        display: block;
        align-items: center;
        justify-content: center;
        margin-top:10px ;
      }

      #container {
        display: flex;
        flex-direction: column;
      }

      
      @keyframes text-animation {
        0% {margin-top: 0;}
        10% {margin-top: 0;}
        20% {margin-top: -5.62rem;}
        30% {margin-top: -5.62rem;}
        40% {margin-top: -9.24rem;}
        60% {margin-top: -9.24rem;}
        70% {margin-top: -4.62rem;}
        80% {margin-top: -4.62rem;}
        90% {margin-top: 0;}
        100% {margin-top: 0;}
      }

      .socials ul li a {
        padding: 7px;
      }

      .about-container h1 {
        font-size: 2.5em;
      }

      .copyright p {
        letter-spacing: normal;
      }

      #footer-container h1 {
        letter-spacing: normal;
      }

      .contact-form .contact-details {
        padding: 20px ;
        display: block;
      }

      main>.hero>#container {
        padding-left: 20px;
      }
    
      .animated-text h1 {
        font-size: 0.9rem;
        font-weight: 600;
    }
    
    .hero-image img{
      width: 180px;
      height: 210px;
      margin-left: 0px;
      background: linear-gradient(#FFF, #fff) padding-box, linear-gradient(45deg, #0fd850) border-box;
      margin-top: 0px;
      border: 5px solid aqua;
      border-radius: 50%;
  
    }

    .socials {
      margin-top: 200px;
    }

    #container {
      padding-bottom: 100px;
    }
    main {
      padding-top: 20px;
  }
    
    .hero-main-container {
      width: 70px;
      height: 100px;
      margin-left: 10px;
      display: none;
    }

    #hero-main-container {
      width: 220px;
      height: 270px;
      margin-left: 30px;
      display: flex;
      margin-bottom: 40px;
    } 

    .animated-text {
      width: 10px;
    }
}

@media (max-width:1190px) {
  .contact-form .contact-details {
    padding: 20px ;
  }
}