html {
    font-family:sans-serif,'poppins';
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: black;
    color: aqua;
}

#navbar {
    border-bottom: none;
}

#logo {
    color: aqua;
    margin-left: 140px;
    font-size: 30px;
    font-weight: 600;
}

#toggler {
    color: aqua;
    border: 1px solid aqua;
}

.custom-toggler.navbar-toggler {
    border-color: aqua;
}

#ul {
    margin-right: 150px;
}

#ul a {
    color: aqua;
    text-decoration: none;
    font-size: 1rem;
    padding: 20px 15px 20px 0;
    cursor: pointer;
    position: relative;
    border: none;
    word-spacing: 10px;
}

#ul a::after {
    content: '';
    width: 0px;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: 0.5s;
}

#ul a:hover::after {
    width: 100%;
}
#top {
    border-radius: 40px;
    background-color: black;
    border: 1px solid aqua;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    background-color: black;
    border: none;
    outline: none;
}

.back-to-top:hover {
    background-color: var(--primary);
}

h1, h2{
    color: aqua;
}

i {
    color: aqua;
}



/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    background-color: var(--primary);
    border: none;
    outline: none;
}

.btn:hover {
    background-color: rgb(4, 49, 75);
}
.btn.btn-primary,
.btn.btn-secondary {
    color: rgb(255, 255, 255);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
    background-color: rgb(74, 173, 230);
}

.no-color {
    background-color: none;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
    background: aqua;
}


.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }

    #navbar a {
        margin-left: 10px;
    }

}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



.container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#20a7d8;
  }
  .second div {
    background-color:#CD921E;
  }
  .third div {
    background-color:#c10528;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  